@font-face {
    font-family: "HankenGrotesk";
    src: url(../fonts/Hanken_Grotesk/static/HankenGrotesk-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "HankenGrotesk";
    src: url(../fonts/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "HankenGrotesk";
    src: url(../fonts/Hanken_Grotesk/static/HankenGrotesk-Medium.ttf);
    font-weight: 500;
}