
@import url(./fonts.css);

:root {
    --light-Blue: #CAC9FF;
    --white: #fff;
    --dark-navy: #303B59;
    --red: #F55;
    --yellow: #FFB21E;
    --green: #00BB8F;
    --blue: #1125D6;
    --fm: 'HankenGrotesk';
    ----Gradient-1: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main {
    background: #ECF2FF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fm);
}

/* result-card */

.result-card {
   max-width: 736px;
   width: 100%;
   border-radius: 32px;
   background: var(--white, #FFF);
   box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
   display: flex;
   justify-content: space-between;
}

.result-score {
    max-width: 368px;
    width: 100%;
    border-radius: 32px;
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%)); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0 55px;
}

.result-score__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--light-Blue);
    font-feature-settings: 'clig' off, 'liga' off;
}

.result-score__num {
    max-width: 200px;
    width: 100%;
    height: 200px;
    font-size: 72px;
    font-weight: 800;
    color: var(--white);
    background: var(--Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%));;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    margin: 35px 0 28px;
}
.result-score__points {
    font-size: 18px;
    font-weight: 700;
    color: var(--light-Blue);
}

.result-score__subtitle {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
}
.result-score__text {
    max-width: 260px;
    width: 100%;
    color: var(--light-Blue);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* result-card */

/* result-summary */

    .result-summary {
        padding: 0 40px;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
    }

    .result-summary__title {
        color: var(--dark-navy);
        font-size: 24px;
        font-weight: 700;
    }

/* result-summary */

    .result-summary {
        padding: 0 40px;
        width: 50%;
         display: flex; 
         flex-direction: column; 
         justify-content: center; 
    }

    .result-summary__title {
        color: var(--dark-navy);
        font-size: 24px;
        font-weight: 700;
    }

    .result-summary__card  {
        max-width: 288px;
        width: 100%;
        margin: 28px 0 41px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        align-items: center;

    }
    .result-summary__item {
        width: 100%; 
        padding: 16px;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
    }
    .result-summary__item:nth-child(1) {
        background: var(--red-95-white);
    }
    .result-summary__item:nth-child(2) {
        background: var(--yellow-95-white);
    }
    .result-summary__item:nth-child(3) {
        background: var(--green-95-white);
    }
    .result-summary__item:nth-child(4) {
        background: var(--blue-95-white);
    }

    .result-summary__name {
        display: flex;
        align-items: center;
        column-gap: 12px;
        font-size: 18px;
        font-weight: 500;
    }

    .result-summary__text:nth-child(1) {
        color: var(--red);
    }
    
    .result-summary__text:nth-child(1) {
        color: var(--yellow);
    }
   
    .result-summary__text:nth-child(1) {
        color: var(--green);
    } 

    .result-summary__text:nth-child(1) {
        color: var(--blue);
    }

    .result-summary__score {
        font-size: 18px;
        font-weight: 700;
        color: var(--dark-navy);
    }

    .result-summary__100 {
        opacity: .5;
    }


    .result-summary__btn {
     background: var(--dark-navy);
     border-radius: 128px;
     padding: 17px 0;
     text-align: center;
     color: var(--white);
     font-size: 18px;
     font-weight: 700;

    }